{% extends "index.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<script>
ANS_OPERATIONS={

	'url_detalles_disponibilidad': '/detalles_ans/',
  'from_date': 0,
  'to_date'  : 0,
	'entorno'  : 0,
  'disponibilidad' : 0,

	GodZilla_callback: function(data){
		//console.log("GodZilla_callback");
		switch(data.action){

			case 'detalles_ans':
				console.log("detalles_ans");

         if (!data.available_info){
             $('#jquery_dialog').html('<p>No hay información disponible</p>');
           }
					 else{
						 $('.div_ans').html(data.html);
					 }
					 break;

			case 'detalles_instance_disponibilidad':
			$('#jquery_dialog').html(data.html);

			if (!data.available_info){
					$('#jquery_dialog').html('<p>No hay datos de disponibilidad </p>');
				}

				var wWidth = $(window).width();
				var dWidth = wWidth * 0.8;
				var wHeight = $(window).height();
				var dHeight = wHeight * 0.8;


						$( "#jquery_dialog" ).dialog({
								title: 'Detalles disponibilidad',
								resizable: true,
								width : dWidth,
								height: dHeight,
								overlay: { opacity: 0.1, background: "black" },
								modal: true,
								 buttons: {
									"Aceptar": function() {
									 $(this).dialog("close");
									}
								 }
						 });
	       }
      }
}; //END NS




function loadEnvironments(){

		$('[name="entornos"]')
		.find('option')
		.remove()
		.end();

		$('.ent_all').each(function(){
						var ent= $(this).attr('ent_name');
						var ent_id=$(this).attr('entorno_id');
						console.log('Cluster: %s, id: %s', ent, ent_id);

						$('[name="entornos"]').append('<option value="' + ent_id + '"' + '>' + ent + '</option>').val(ent_id);
			});
}



$( function() {

    ANS_OPERATIONS.from_date=0;
    ANS_OPERATIONS.to_date=0;
		ANS_OPERATIONS.entorno=0;
		ANS_OPERATIONS.disponibilidad=0;

    $('#div_id_proyecto label').css({'margin-top':'1em'});

		loadEnvironments();

    from = $( "#from" )
      .datepicker({
        dateFormat: 'dd-mm-yy',
        dayNamesMin: [ "L", "M", "X", "J", "V", "S", "D" ],
        monthNamesShort: [ "Enero", "Feb", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Sept", "Octubre", "Nov", "Dic" ],
        defaultDate: "-7d",
        //setDate: primero_de_mes,
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        //from.datepicker( "option", "maxDate", getDate( this ) );
        from_date=$("#from").datepicker( "getDate" );
        if (from_date!=null)
            ANS_OPERATIONS.from_date= from_date.getTime();

        console.log("from_date: %s", ANS_OPERATIONS.from_date);
      }),
    to = $( "#to" ).datepicker({
      dateFormat: 'dd-mm-yy',
      dayNamesMin: [ "L", "M", "X", "J", "V", "S", "D" ],
      monthNamesShort: [ "Enero", "Feb", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Sept", "Octubre", "Nov", "Dic" ],
      defaultDate: "+1d",
      changeMonth: true,
      numberOfMonths: 1
    })
    .on( "change", function() {
      //to.datepicker( "option", "minDate", getDate( this ) );
      to_date=  $("#to").datepicker( "getDate" );
      if (to_date!=null)
        ANS_OPERATIONS.to_date= to_date.getTime();
      	console.log("to_date: %s", ANS_OPERATIONS.to_date);
    });

  function getDate( element ) {
    var date;
    try {
      date = $.datepicker.parseDate( dateFormat, element.value );
    } catch( error ) {
      date = null;
    }
    return date;
  }

var date=new Date();

hoy= date.getDate();
mes=date.getMonth();
year=date.getFullYear();
var fromDate = new Date(year,mes,1) ;
var toDate = new Date(year,mes,hoy) ;
$('#from').datepicker('setDate', fromDate);
$('#to').datepicker('setDate', toDate);


//loadEnvironments();

$(document).on('click', '.request_disponibilidad', function(){

	ANS_OPERATIONS.entorno= $('[name="entornos"] option:selected').val();
	ANS_OPERATIONS.disponibilidad= $('[name=porcentaje]').val();
	from = ANS_OPERATIONS.from_date;
	to   = ANS_OPERATIONS.to_date;
	page = 1;

	if (from==0)
		ANS_OPERATIONS.from_date = new Date(year,mes,1).getTime();
	if (to==0)
		 ANS_OPERATIONS.to_date  = new Date(year,mes,hoy+1).getTime();

     console.log("detalles_ans-> from: %s, to: %s", from,to)
		 console.log("diff ans-> from: %s", to-from/1000);

		 if ($(this).hasClass('paginate_button_next'))
		 			page=parseInt($('.current_page').attr('page')) + 1;
			else if ($(this).hasClass('previous'))
			 page=parseInt($('.current_page').attr('page')) -1;

		data={ 'from': ANS_OPERATIONS.from_date,
					 'to': ANS_OPERATIONS.to_date, 'entorno': ANS_OPERATIONS.entorno,
					 'disponibilidad':  ANS_OPERATIONS.disponibilidad,
					 'page': page};

		var datos  = AJAXSTUFF.getSpecificRequest(data,'detalles_ans',ANS_OPERATIONS.url_detalles_disponibilidad );
	 	datos.csrftoken = AJAXSTUFF.get_csrfmiddlewaretoken();
	 	datos.request = 'GET';
	 	var content= AJAXSTUFF.RequestDefinition(datos);
	 	AJAXSTUFF.makeRequest(content, ANS_OPERATIONS.GodZilla_callback);
		ANS_OPERATIONS.url_detalles_disponibilidad='/detalles_ans/';

});


$(document).on('click', '.detalles_instance_disponibilidad', function(){

	ANS_OPERATIONS.url_detalles_disponibilidad+= $(this).attr('id_p');
	data={'from': ANS_OPERATIONS.from_date,
				 'to': ANS_OPERATIONS.to_date, 'entorno': ANS_OPERATIONS.entorno,
				 'page': page};
	var datos  = AJAXSTUFF.getSpecificRequest(data,'detalles_ans',ANS_OPERATIONS.url_detalles_disponibilidad );
	datos.csrftoken = AJAXSTUFF.get_csrfmiddlewaretoken();
	datos.request = 'GET';
	var content= AJAXSTUFF.RequestDefinition(datos);
	AJAXSTUFF.makeRequest(content, ANS_OPERATIONS.GodZilla_callback);
	ANS_OPERATIONS.url_detalles_disponibilidad='/detalles_ans/';
 });

});




</script>

<style>



#from, #to{
  width:8em;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#div_id_entornos{
  padding-top: 1em;
}

.widgets_zone{
  position: relative;
  width: 62em;
  height: 35em;
  float: left;
  top: 1em;
  }

	.panel-content{
		backgrount-color: "#f3f3f3"
	}

	#div_id_porcentaje{
		margin-top: 2em;
		width: 23em;
	}

  #div_id_entornos{
		width: 23em;
		margin-bottom: 5em;
	}

</style>

<div class="panel-body">
    <form class="well" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="row">
      <div class="col-sm-4 ">
        <h2 class="text-danger">Disponibilidad {{request.session.proyecto_seleccionado}}</h2>
        <hr/>
        <div class="well">
          <div class="container-fluid">
          <label for="from">Intervalo de </label>
          <input type="text" id="from" name="from">
          <label for="to">a</label>
          <input type="text" id="to" name="to">
          {% crispy form %}

				</div>
        <input type="button" value="Enviar" style="margin-left:1em" class="btn btn-danger request_disponibilidad">
        <button type="button" class="btn btn-danger" onclick="location.href='/startpage'">Cancelar</button>

    </form>
    </div>
  </div>

	{%if ent_all %}
		{% for i in ent_all %}
			<input type="hidden" class="ent_all" ent_name="{{i.ent_nombre}}" ent_ip="{i.cluster_ip}" entorno_id={{i.id}} />
		{%endfor%}
	{% endif %}

</br></br></br>
<!--<div class="col-sm-2 col-xs-4"> -->
<div class=" col-sm-8">
  <div id="tile5" class="">
       <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active div_ans">

	          </div>
	        </div>
	      </div>
	  </div>
	</div>
</div>


{% endblock %}

{% block foot %}
<footer class="footer text-right">request_disponibilidad
    <a href="http://www.isotrol.com" target="_blank"><img src="{% static 'images/logo-pie-transp.png' %}"></a>
</footer>
{% endblock %}
