{% extends "index.html"%}
{% load static %}

{% block content %}
<div class="container">
<div class="row"></div>
<br>
    <h2 class="text-danger text-warning" style="margin-top:1em">Catálogo <strong>{{request.session.proyecto_seleccionado}}</strong></h2>
    <form class="navbar-right"  style="position:relative;right:1em"  role="search" method="get">{% csrf_token %}
        {#            <div class="form-group">#}
        <a href="/catalogo/proyecto/{{request.session.id_proyecto_seleccionado}}/nuevoEntrada/" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-plus"></span>Crear entrada</a>
        <input type="text" name="p" placeholder="Nombre del catálogo">
        <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        {#            </div>#}
    </form>
    {% if e == 'no' %}
{#        <h5>Los catálogos que se han dado de alta: </h5>#}
    {% else %}
        <h5>Resultado de la búqueda</h5>
    {% endif %}

    {% if mensaje %}
        {#              <h4 class="text-warning">{{ mensaje }}</h4>#}
        <div id="message" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                        <h4>{{ mensaje }}</h4>
                        <button class="btn btn-danger" data-dismiss="modal" type="button"> Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</br></br></br>
    <table id="catalogo" class="table table-hover panel">
        <thead>
        <tr>
        <!-- Centro/(?P<orden>\d+)/(?P<ascendente>\d+)/$ -->

            <th>Servicio
                <a href="/administrar/catalogo/1/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/administrar/catalogo/1/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Tarifa
                <a href="/administrar/entornos/2/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/administrar/entornos/2/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Configuración
            <!--
                <a href="/administrar/entornos/3/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/administrar/entornos/3/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
                 -->
            </th>
            <th>Estado
                <a href="/administrar/entornos/4/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/administrar/entornos/4/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th >Editar / Borrar</th>

        </tr>
        </thead>
        <tbody>
        {% if p %}
            {% for c in catalog%}
                <tr>

                    <td>{{ c.ser.ser_nombre }}</td>
                    <td>{{ c.lca_tarifa }}</td>
                    <td>{{ c.lca_activo }}</td><!-- aqui el num de entornos -->
                    <td>
                    {% if c.lca_activo %}<img src="{% static 'images/active_user.png' %}" width="16px" height="16px">
                    	<label for="entorno activo">Activo</label></td>
                    {% else %}
                    <img src="{% static 'images/inactive_user.png' %}" width="16px" height="16px"><label for="entorno inactivo">Inactivo</label></td>
                    {% endif %}
                    </td>
                    <td >


                       <div id="container_icons" style="position: relative;left: 2em;">
                        <a href="/catalogo/proyecto/{{ request.session.id_proyecto_seleccionado }}/editarEntrada/{{c.id}}/">
                            <span class="text-danger glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#delete{{ c.id  }}" data-toggle="modal">
                            <span class="text-danger glyphicon glyphicon-trash"></span>
                        </a>
                        <div id="delete{{ c.id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <div class="modal-body">
                                        <h4 class="">¿Esta seguro de querer borrar {{ catalogo.ser.ins_kubeid  }}?</h4>
                                        <a href="/catalogo/proyecto/{{ request.session.id_proyecto_seleccionado }}/eliminarEntrada/{{ c.id }}"
                                           class="btn btn-danger "> Sí </a>
                                        <button class="btn btn-danger" data-dismiss="modal" type="button"> No
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </td>

                </tr>
            {% endfor %}
        {% else %}
            <p><span class="glyphicon glyphicon-exclamation-sign"></span> No se ha definido nigún Catálogo.</p>
        {% endif %}
        </tbody>
    </table>
    <!--  message framework-->
    {% if messages %}

        {% for message in messages %}
        <div id="messageModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{message.extra_tags}}</h4>
              </div>
              <div class="modal-body">
                <p class="text-warning">{{ message }}</p>
              </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}


    {#     page {{ page }} of {{ page.num_pages }}#}
    {% if p %}
        <div class="pagination">
                  <span class="step-links">
                      {% if p.has_previous %}
                          <a href="?page={{ p.previous_page_number }}"
                             class="text-danger paginate_button previous"><span
                                  class="text-danger glyphicon glyphicon-backward"></span> Anterior</a>
                      {% endif %}
                      <span class="current">
                          Página {{ p.number }} de {{ p.paginator.num_pages }}
                      </span>

                      {% if p.has_next %}
                          <a href="?page={{ p.next_page_number }}" class="text-danger paginate_button next">Siguiente
                              <span class="text-danger glyphicon glyphicon-forward"></span></a>
                      {% endif %}
                  </span>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block foot %}
<footer class="footer text-right">
    <a href="http://www.isotrol.com" target="_blank"><img src="{% static 'images/logo-pie-transp.png' %}"></a>
</footer>
{% endblock %}
