{% extends "index.html"%}
{% load static %}

{% block content %}

<script>


DESPLIEGUES_OPERATIONS={

  'url_refresh_replicas': '/refesh_replicas/proyecto/',
  'id_timeout' : 0,

	GodZilla_callback: function(data){

		//console.log("GodZilla_callback");
		switch(data.action){

			case 'refresh_replicas':
				console.log("refresh_replicas del proyecto");

				if (data.response && !$.isEmptyObject(data.response)){
						$.each(data.response, function(k,v){

							//$('.instancias_running#'+k).parent().next().find('span.status_running')
							$('.instancias_running#'+k).text(v);

							url="/despliegue/modifyDeploymentReplicas/";
							if (v==0){
								$('.instancias_running#'+k).parent().next().find('.a_href_modal').attr('href','#despliegue' + k);
                $('.instancias_running#'+k).parent().next().find('.modal').first('div').attr('id', 'despliegue' + k);
								$('.instancias_running#'+k).parent().next().find('.action_href').attr('href', url + k + "/1");
								$('.instancias_running#'+k).parent().next().find('span.status_running').removeClass('glyphicon-pause').addClass('glyphicon-play-circle');
								//$('.modal_text').text($('.modal_text').text().replace('replegar','desplegar'));
                //$('.modal_text').text($('.modal_text').text().replace('replegar','desplegar'));
							}
							else {
								$('.instancias_running#'+k).parent().next().find('.action_href').attr('href', url + k + "/0");
                $('.instancias_running#'+k).parent().next().find('.a_href_modal').attr('href','#replegar' + k);
                $('.instancias_running#'+k).parent().next().find('.modal').first('div').attr('id', 'replegar' + k);
								$('.instancias_running#'+k).parent().next().find('span.status_running').removeClass('glyphicon-play-circle').addClass('glyphicon-pause');
								//$('.modal_text').text($('.modal_text').text().replace('desplegar','replegar'));
							}
							console.log('Seteando span: k' + k + ", valor: "+ v);
						});
			  }
        else{
          //clear all timeout
          var id = window.setTimeout(function() {}, 0);
          while (id--) {
              window.clearTimeout(id); // will do nothing if no timeout with id is present
          }

        }

	    }
	 }
}; //END NS

function refresh_replicas(){


	var datos  = AJAXSTUFF.getSpecificRequest('','detalles_entorno',DESPLIEGUES_OPERATIONS.url_refresh_replicas );
	datos.csrftoken = AJAXSTUFF.get_csrfmiddlewaretoken();
	datos.request = 'GET';
	var content= AJAXSTUFF.RequestDefinition(datos);
	AJAXSTUFF.makeRequest(content, DESPLIEGUES_OPERATIONS.GodZilla_callback);


}

$(document).ready(function(){
	DESPLIEGUES_OPERATIONS.url_refresh_replicas+=$('.cls_proyecto_seleccionado').attr('id_p')
  INDEX.id_timeout=setInterval(refresh_replicas, 5000);
});

</script>



<div class="container">
<div class="row"></div>
<br>
    <h2 class="text-danger text-warning" style="margin-top:1em">Despliegues <strong>{{request.session.proyecto_seleccionado}}</strong></h2>
    <form class="navbar-right"  style="position:relative;right:1em"   role="search" method="get">{% csrf_token %}

        {#            <div class="form-group">#}
           <!--  -->
        <a href="/despliegue/proyecto/{{request.session.id_proyecto_seleccionado}}/crearInstancia/" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-plus"></span>Crear instancia</a>

        <input type="text" name="p" placeholder="Nombre de la instancia">
        <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        {#            </div>#}

    </form>
    {% if e == 'no' %}
{#        <h5>Los despliegues que se han dado de alta: </h5>#}
    {% else %}
        <h5>Resultado de la búqueda</h5>
    {% endif %}

    {% if mensaje %}
        {#              <h4 class="text-warning">{{ mensaje }}</h4>#}
        <div id="message" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                        <h4>{{ mensaje }}</h4>
                        <button class="btn btn-danger" data-dismiss="modal" type="button"> Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</br></br></br>
    <table id="catalogo" class="table table-hover panel">
        <thead>
        <tr>
            <th>Servicio
                <a href="/despliegue/proyecto/{{request.session.id_proyecto_seleccionado}}"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/despliegue/proyecto/{{request.session.id_proyecto_seleccionado}}"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>
              Min/Max
            </th>
            <th>Nombre despliegue
                <a href="/despliegue/proyecto/{{request.session.id_proyecto_seleccionado}}"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/despliegue/proyecto/{{request.session.id_proyecto_seleccionado}}"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>

            <th>Fecha de creacion
                <a href="/despliegue/proyecto/{{request.session.id_proyecto_seleccionado}}"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/despliegue/proyecto/{{request.session.id_proyecto_seleccionado}}"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Estado
            <!--
                <a href="/administrar/entornos/3/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/administrar/entornos/3/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
                 -->
            </th>
            <th>Entorno

            </th>
            <th>Réplicas

            </th>
              {% if request.session.numeric_profile > 1 or afcloud_admin %}
        			<th>
        			Acciones
        			</th>
              {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if p %}
            {% for instancia in instancias%}
                <tr>

                    <td>{{ instancia.nombre_servicio }}</td>
                    <td>{{ instancia.replicas_min }} / {{ instancia.replicas_max }}</td>
                    <td>{{ instancia.nombre_despliegue }}</td>
                    <td>{{ instancia.creation_date }}</td>
                    <td>
                    {% if instancia.running %}<img class="estado_replicas" src="{% static 'images/active_user.png' %}" width="16px" height="16px">
                      <label for="entorno activo">Activo</label></td>
                    {% else %}
                    <img class="estado_replicas" src="{% static 'images/inactive_user.png' %}" width="16px" height="16px"><label for="entorno inactivo">Inactivo</label></td>
                    {% endif %}
                    </td>

                    <td>{{ instancia.nombre_entorno }}</td>
                      <td>
                            <span class="instancias_running" id={{instancia.id}}>{{instancia.running}}</span>

                      </td><!-- aqui el num de entornos -->

                    {% if request.session.numeric_profile > 1 or afcloud_admin %}

                    <td>
                      <div id="container_icons" style="position: relative;left: 0.4em;">

                      {%if not instancia.running %}

                          <a href="#despliegue{{ instancia.id }}" class="a_href_modal" data-toggle="modal">
                          <span class="text-danger glyphicon glyphicon-play-circle status_running"></span>
                          </a>
                                <div id="despliegue{{ instancia.id }}" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <div class="modal-body">
                                                <h4 class="modal_text">¿Esta seguro de querer
                                                    desplegar {{ instancia.nombre_despliegue }}?</h4>

                                                    <a href="/despliegue/modifyDeploymentReplicas/{{instancia.id}}/1"
                                                       class="btn btn-danger action_href"> Sí </a>

                                                <button class="btn btn-danger" data-dismiss="modal"
                                                        type="button"> No
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          {%endif%}

                          {%if instancia.running %}

                              <a href="#replegar{{ instancia.id }}" class="a_href_modal" data-toggle="modal">
                              <span class="text-danger glyphicon glyphicon-pause status_running"></span>
                              </a>

                              <div id="replegar{{ instancia.id }}" class="modal fade">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <button type="button" class="close" data-dismiss="modal"
                                                  aria-hidden="true">&times;</button>
                                          <div class="modal-body">
                                              <h4 class="modal_text">¿Esta seguro de querer
                                                  replegar {{ instancia.nombre_despliegue }}?</h4>

                                                  <a href="/despliegue/modifyDeploymentReplicas/{{instancia.id}}/0"
                                                     class="btn btn-danger action_href"> Sí </a>

                                              <button class="btn btn-danger" data-dismiss="modal"
                                                      type="button"> No
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          {% endif %}

                            <a href="#delete{{ instancia.id  }}" data-toggle="modal">
                                <span class="text-danger glyphicon glyphicon-trash"></span>
                            </a>
                            <div id="delete{{ instancia.id}}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <div class="modal-body">
                                            <h4 class="">¿Esta seguro de querer borrar la instancia del servicio: {{ instancia.nombre_despliegue }}?</h4>

                                            <a href="/despliegue/proyecto/{{ request.session.id_proyecto_seleccionado }}/eliminarInstancia/{{ instancia.id  }}"
                                               class="btn btn-danger "> Sí </a>
                                            <button class="btn btn-danger" data-dismiss="modal" type="button"> No
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    <!--
                    acciones de despliegue y repliegue
                     -->
                   </div>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <p><span class="glyphicon glyphicon-exclamation-sign"></span> No hay ninguna instancia.</p>
        {% endif %}
        </tbody>
    </table>

<input type="hidden" class="cls_proyecto_seleccionado" id_p="{{request.session.id_proyecto_seleccionado}}" />

    <!--  message framework-->
    {% if messages %}

        {% for message in messages %}
        <div id="messageModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{message.extra_tags}}</h4>
              </div>
              <div class="modal-body">
                <p class="text-warning">{{ message }}</p>
              </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}


    {#     page {{ page }} of {{ page.num_pages }}#}
    {% if p %}
        <div class="pagination">
                  <span class="step-links">
                      {% if p.has_previous %}
                          <a href="?page={{ p.previous_page_number }}"
                             class="text-danger paginate_button previous"><span
                                  class="text-danger glyphicon glyphicon-backward"></span> Anterior</a>
                      {% endif %}
                      <span class="current">
                          Página {{ p.number }} de {{ p.paginator.num_pages }}
                      </span>

                      {% if p.has_next %}
                          <a href="?page={{ p.next_page_number }}" class="text-danger paginate_button next">Siguiente
                              <span class="text-danger glyphicon glyphicon-forward"></span></a>
                      {% endif %}
                  </span>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block foot %}
<footer class="footer text-right">
    <a href="http://www.isotrol.com" target="_blank"><img src="{% static 'images/logo-pie-transp.png' %}"></a>
</footer>
{% endblock %}
