
{% load static %}


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-k285{font-weight:bold;background-color:#fd6864;text-align:left;vertical-align:top}
.tg .tg-hmp3{background-color:#D2E4FC;text-align:left;vertical-align:top}
</style>

{% block content %}

{% if mensaje %}
    <div id="message" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-body">
                    <h4>{{ mensaje }}</h4>
                    <button class="btn btn-danger" data-dismiss="modal" type="button"> Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}



        <h2 class="text-danger">Detalles {{proyecto.nombre }}</h2>
		<h4><p>Descripción: {{proyecto.desc }}</p></h4>
        <div class="panel-body">
                

        {% if entornos %}
        		 <p><strong>Entornos: </strong>
                  {% for e in entornos %} 
                		<p>{{ e }}</p>
                  {% endfor %}
		{% endif %}                  
        {% if usuarios %}
        		 <p><strong>Integrantes: </strong>
                  {% for u in usuarios %} 
                		<p>{{ u }}</p>
                  {% endfor %}
		{% endif %}  
		<!-- 
                <button type="button" class="btn btn-danger" onclick="location.href='/administrar/proyectos/'">Cancelar</button>
         -->
        </div>

    </div>
</div>
{% endblock %}
