{% extends "index.html"%}
{% load static %}

{% block content %}
<script>

INCIDENCIAS_OPERATIONS={
	'url_detalles_incidencia': '/detalles/incidencia/',

	GodZilla_callback: function(data){

		//console.log("GodZilla_callback");
		switch(data.action){

			case 'detalles_incidencia':
				console.log("detalles del proyecto");

				 $('#jquery_dialog').html(data.html);

         if (!data.available_info){
             $('#jquery_dialog').html('<p>No hay actuaciones asociadas</p>');
           }
	          	 $( "#jquery_dialog" ).dialog({
					         title: 'Detalles incidencia',
	          	      resizable: true,
	          	      width  : 800,
                    height : 600,
	          	      modal: true,
	          	      buttons: {
	          	    	 "Aceptar": function() {
	          	    		$(this).dialog("close");
	          	    	 }
	          	      }
	          	  });

	         }
         }
}; //END NS



$(document).on('click', '.detalles_incidencia', function(){

	INCIDENCIAS_OPERATIONS.url_detalles_incidencia+= $(this).attr('id_it');
	var datos  = AJAXSTUFF.getSpecificRequest('','detalles_incidencia',INCIDENCIAS_OPERATIONS.url_detalles_incidencia );
	datos.csrftoken = AJAXSTUFF.get_csrfmiddlewaretoken();
	datos.request = 'GET';
	var content= AJAXSTUFF.RequestDefinition(datos);
	AJAXSTUFF.makeRequest(content, INCIDENCIAS_OPERATIONS.GodZilla_callback);
	INCIDENCIAS_OPERATIONS.url_detalles_incidencia='/detalles/incidencia/';
 });

</script>


<div class="container">
<div class="row"></div>
<br>
    <h2 class="text-danger text-warning" style="margin-top:1em">Control de incidencias</h2>
    <form class="navbar-right"  style="position:relative;right:1em"  role="search" method="get">{% csrf_token %}
        {#            <div class="form-group">#}
        <a href="/incidencias/crear/" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-plus"></span>Crear incidencia</a>
        <input type="text" name="p" placeholder="Nombre del entorno">
        <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        {#            </div>#}
    </form>


</br></br></br>
    <table id="centros" class="table table-hover panel">
        <thead>
        <tr>
        <!-- Centro/(?P<orden>\d+)/(?P<ascendente>\d+)/$ -->

            <th>Iniciador
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Fecha de apertura
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Actualización
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Asunto
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Estado
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="#"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>
              Ver
            </th>
            <th>
							{% if request.session.afcloud_admin %}
								Añadir nota / Borrar
								{%else%}
								Añadir nota
								{%endif%}
						</th>

        </tr>
        </thead>
        <tbody>
        {% if p %}
            {% for it in p %}
                <tr>
                  <td>
                    {{ it.incidencias.usu.user.first_name }} ({{ it.incidencias.usu.user.username }})</a>
                  </td>
                  <td>
                    {{ it.incidencias.fecha_apertura }}</a>
                  </td>
                  <td>
                    {{ it.incidencias.fecha_updated }}</a>
                  </td>
                    <td>
                      <a href="#"  data-html="true" data-toggle="tooltip" title="{{ it.incidencias.cuerpo }} ">{{ it.incidencias.asunto }}</a>
                    </td>
                    <td>
                      {{it.estado_name}}
                    </td>
                    <td>
                      <a href="#" style="position:relative;left: 0.4em;" class="detalles_incidencia" id_it="{{  it.incidencias.id }}">
                          <span class="text-danger glyphicon glyphicon-eye-open"></span>
                      </a>
                    </td>
                    <td>
                         <div id="container_icons" style="position: relative;left: 2em;">
                        <a href="/administrar/incidencias/editarIncidencia/{{ it.incidencias.id }}/">
                            <span class="text-danger glyphicon glyphicon-edit"></span>
                        </a>
													{% if request.session.afcloud_admin %}
                        <a href="#delete{{  it.incidencias.id   }}" data-toggle="modal">
                            <span class="text-danger glyphicon glyphicon-trash"></span>
                        </a>
												  {%endif%}
                        <div id="delete{{ incidencias.id }}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <div class="modal-body">
                                        <h4 class="">¿Esta seguro de querer borrar esta incidencia?</h4>
                                        <a href="/administrar/eliminarIncidencia/{{ it.incidencias.id }}"
                                           class="btn btn-danger "> Sí </a>
                                        <button class="btn btn-danger" data-dismiss="modal" type="button"> No
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                      </div>
                    </td>


                </tr>
            {% endfor %}
        {% else %}
            <p><span class="glyphicon glyphicon-exclamation-sign"></span> No se ha abierto niguna incidencia.</p>
        {% endif %}
        </tbody>
    </table>

    <!--  message framework-->
    {% if messages %}

        {% for message in messages %}
        <div id="messageModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{message.extra_tags}}</h4>
              </div>
              <div class="modal-body">
                <p class="text-warning">{{ message }}</p>
              </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}


    {#     page {{ page }} of {{ page.num_pages }}#}
    {% if p %}
        <div class="pagination">
                  <span class="step-links">
                      {% if p.has_previous %}
                          <a href="?page={{ p.previous_page_number }}"
                             class="text-danger paginate_button previous"><span
                                  class="text-danger glyphicon glyphicon-backward"></span> Anterior</a>
                      {% endif %}
                      <span class="current">
                          Página {{ p.number }} de {{ p.paginator.num_pages }}
                      </span>

                      {% if p.has_next %}
                          <a href="?page={{ p.next_page_number }}" class="text-danger paginate_button next">Siguiente
                              <span class="text-danger glyphicon glyphicon-forward"></span></a>
                      {% endif %}
                  </span>
        </div>
    {% endif %}
</div>

<div id="jquery_dialog" title="Basic dialog">
</div>

{% endblock %}
{% block foot %}
<footer class="footer text-right">
    <a href="http://www.isotrol.com" target="_blank"><img src="{% static 'images/logo-pie-transp.png' %}"></a>
</footer>
{% endblock %}
