{% extends "index.html"%}
{% load static %}

{% block content %}
<div class="container">
<div class="row"></div>
<br>
    <h2 class="text-danger text-warning" style="margin-top:1em">Administración de servicios</h2>
    <form class="navbar-right" role="search" method="get">{% csrf_token %}
        {#            <div class="form-group">#}
        <a href="/administrar/servicio/nuevoServicio" id="crear_nuevo_servicio"  class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-plus"></span>Crear servicio</a>
        <input type="text" name="p" placeholder="Nombre del servicio">
        <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        {#            </div>#}
    </form>
    {% if e == 'no' %}
{#        <h5>Los servicios que se han dado de alta: </h5>#}
    {% else %}
        <h5>Resultado de la búqueda</h5>
    {% endif %}

    {% if mensaje %}
        {#              <h4 class="text-warning">{{ mensaje }}</h4>#}
        <div id="message" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                        <h4>{{ mensaje }}</h4>
                        <button class="btn btn-danger" data-dismiss="modal" type="button"> Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</br></br></br>
    <table id="centros" class="table table-hover panel">
        <thead>
        <tr>
        <!-- Centro/(?P<orden>\d+)/(?P<ascendente>\d+)/$ -->

            <th>Nombre
                <a href="/administrar/servicios/1/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/administrar/servicios/1/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Tarifa
                <a href="/administrar/servicios/2/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/administrar/servicios/2/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Estado
                <a href="/administrar/servicios/3/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/administrar/servicios/3/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Editar / Borrar</th>
        </tr>
        </thead>
        <tbody>
        {% if p %}
            {% for servicio in p %}
                <tr>

                    <td>
                        <a href="#" data-toggle="tooltip" title="{{ servicio.ser_descripcion }} ">{{ servicio.ser_nombre }}</a>

                    </td>
                    <td>{{ servicio.ser_tarifa }}</td><!-- aqui los integrantes -->
                    <!-- <td>{{ servicio.ent_activo }}</td>aqui el num de entornos -->
                    <td>
                    {% if servicio.ser_activo %}<img src="{% static 'images/active_user.png' %}" width="16px" height="16px">
                    	<label for="servicio activo">Activo</label></td>
                    {% else %}
                    <img src="{% static 'images/inactive_user.png' %}" width="16px" height="16px"><label for="servicio inactivo">Inactivo</label></td>
                    {% endif %}
                    </td>
                    <td>
                       <div id="container_icons" style="position: relative;left: 2em;">
                        <a href="/administrar/servicio/editarServicio/{{ servicio.id }}/">
                            <span class="text-danger glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#delete{{ servicio.id }}" data-toggle="modal">
                            <span class="text-danger glyphicon glyphicon-trash"></span>
                        </a>
                        <div id="delete{{ servicio.id }}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <div class="modal-body">
                                        <h4 class="">¿Esta seguro de querer borrar {{ servicio.ser_nombre  }}?</h4>
                                        <a href="/administrar/servicio/eliminarServicio/{{ servicio.id }}"
                                           class="btn btn-danger "> Sí </a>
                                        <button class="btn btn-danger" data-dismiss="modal" type="button"> No
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </td>

                </tr>
            {% endfor %}
        {% else %}
            <p><span class="glyphicon glyphicon-exclamation-sign"></span> No se ha definido nigún servicio.</p>
        {% endif %}
        </tbody>
    </table>

    <!-- django message framework-->
    {% if messages %}

        {% for message in messages %}
        <div id="messageModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{message.extra_tags}}</h4>
              </div>
              <div class="modal-body">
                <p class="text-warning">{{ message }}</p>
              </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}

    {#     page {{ page }} of {{ page.num_pages }}#}
    {% if p %}
        <div class="pagination">
                  <span class="step-links">
                      {% if p.has_previous %}
                          <a href="?page={{ p.previous_page_number }}"
                             class="text-danger paginate_button previous"><span
                                  class="text-danger glyphicon glyphicon-backward"></span> Anterior</a>
                      {% endif %}
                      <span class="current">
                          Página {{ p.number }} de {{ p.paginator.num_pages }}
                      </span>

                      {% if p.has_next %}
                          <a href="?page={{ p.next_page_number }}" class="text-danger paginate_button next">Siguiente
                              <span class="text-danger glyphicon glyphicon-forward"></span></a>
                      {% endif %}
                  </span>
        </div>
    {% endif %}
</div>
 <div id="jquery_dialog" title="Basic dialog">
</div>
{% endblock %}


{% block foot %}
<footer class="footer text-right">
    <a href="http://www.isotrol.com" target="_blank"><img src="{% static 'images/logo-pie-transp.png' %}"></a>
</footer>
{% endblock %}
