<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AFCloud v.Alpha</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        {#          <div class="navbar-header">#}
        {#              <a class="navbar-brand" href="/index/">AFCloud</a>#}
        {#          </div>#}
        <div class="navbar-header">
            <a class="navbar-btn" href="/index/">
                <img src="{% static 'images/Logotipo-home-transp.png' %}" width="160px" height="51px">
            </a>
        </div>
        <ul class="nav navbar-nav">
            {#              <li><a href="/index/">Home</a></li>#}
            <li><a href="/Despliegues/">Servicios</a></li>
            <li class="active"><a href="/Servidores/">Infraestructura</a></li>
            <li><a href="/Centros/">Organizaciones</a></li>
            <li class="dropdown"><a class="dropdown-toggle" href="/gra/despliegues/" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">Monitorización<span
                    class="caret"></span></a>
                <ul class="dropdown-menu ">
                    <li><a href="/gra/despliegues/">Gráficas Servicios</a></li>
                    <li><a href="/gra/servidores/">Gráficas Infraestructura</a></li>
                    <li><a href="/gra/moodle/">Gráficas Moodle</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
                    <strong> {{ user.username }}</strong><span class="caret"></span></a>
                {% if user.is_superuser %}
                    <ul class="dropdown-menu">
                        <li><a href="/usuarios/">Usuarios</a></li>
                    </ul>
                {% endif %}
            </li>

            <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2 class="text-danger">Servidores</h2>
    <form class="navbar-form navbar-right" role="search" method="get">{% csrf_token %}
        <div class="form-group">
            <a href="/despliegue/actualizaServidores/" class="btn btn-danger btn-sm"><span
                    class="glyphicon glyphicon-refresh"></span> Actualizar</a>
            <input type="text" name="p" placeholder="Nombre del servidor">
            <button type="submit" class="btn-danger"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        </div>
    </form>
    {% if e == 'no' %}
        {#        <h5>Los servidores que se han dado de alta: </h5>#}
        <br>
    {% else %}
        <h5>Resultado de la búqueda</h5>
    {% endif %}
    {% if mensaje %}
        {#              <h4 class="text-warning">{{ mensaje }}</h4>#}
        <div id="message" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                        <h4>{{ mensaje }}</h4>
                        <button class="btn btn-danger" data-dismiss="modal" type="button"> Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <table class="table table-hover panel">
        <thead class="">
        <tr>
            <th>Borrar</th>
            <th>Nombre del servidor
                <a href="/Servidor/1/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/Servidor/1/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            {#              <th>Nombre DNS</th>#}
            <th>Tipo servidor
                <a href="/Servidor/2/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/Servidor/2/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Fecha de comprobación
                <a href="/Servidor/3/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/Servidor/3/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Estado del Servidor
                <a href="/Servidor/4/1/"><span class="text-muted glyphicon glyphicon-chevron-down"></span></a>
                <a href="/Servidor/4/0/"><span class="text-muted glyphicon glyphicon-chevron-up"></span></a>
            </th>
            <th>Ver</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if p %}
                {% for servidores in p %}
                    <tr>
                        <td>
                            <a href="#delete{{ servidores.id }}" data-toggle="modal">
                                <span class="text-danger glyphicon glyphicon-trash"></span>
                            </a>
                            <div id="delete{{ servidores.id }}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <div class="modal-body">
                                            <h4>¿Esta seguro de querer borrar el
                                                despliegue {{ servidores.Nombre }}?</h4>
                                            <a href="/eliminarServidor/{{ servidores.id }}" class="btn btn-danger ">
                                                Sí </a>
                                            <button class="btn btn-danger" data-dismiss="modal" type="button"> No
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ servidores.Nombre }}</td>
                        {#                      <td>{{ servidores.Nombre_dns }}</td>#}
                        <td>{{ servidores.Tipo_servidor_id }}</td>
                        <td>{{ servidores.Fecha_alta }}</td>
                        <td>{{ servidores.Estado_servidor_id }}</td>
                        <td>
                            <a href="/editarServidor/{{ servidores.id }}/">
                                <span class="text-danger glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p><span class="glyphicon glyphicon-exclamation-sign"></span> No se ha encontrado ningún servidor</p>
            {% endif %}
        </tr>
        </tbody>
    </table>
    {% if p %}
        <div class="pagination">
              <span class="step-links">
                  {% if p.has_previous %}
                      <a href="?page={{ p.previous_page_number }}"
                         class="text-danger paginate_button previous"><span
                              class="text-danger glyphicon glyphicon-backward"></span> Anterior</a>
                  {% endif %}

                  <span class="current">
                      Página {{ p.number }} de {{ p.paginator.num_pages }}
                  </span>

                  {% if p.has_next %}
                      <a href="?page={{ p.next_page_number }}" class="text-danger paginate_button next">Siguiente<span
                              class="text-danger glyphicon glyphicon-forward"></span></a>
                  {% endif %}
              </span>
        </div>
    {% endif %}

    {#      <div class="bottom-right">#}
    {#         <a href="/nuevoServidor/" class="btn btn-primary">Nuevo Servidor</a>#}
    {#      </div>#}
</div>
<footer class="footer text-right">
    <a href="http://www.isotrol.com" target="_blank"><img src="{% static 'images/logo-pie-transp.png' %}"></a>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    $("#message").modal('show');
    ç
</script>
</body>
</html>
